kibanaConfig: 
  kibana.yml: |
    server.host: "0"
    server.name: kibana
    server.basePath: "/kibana"
    server.rewriteBasePath: true
    server.xsrf.disableProtection: true
healthCheckPath: "/kibana/app/kibana"